<!--Importamos la plantilla a utilizar-->
{% extends "contenido/plantilla.html" %}


{%block titulo %}
    Eliminar Mensaje
{% endblock %}

{% block cabeza%}
<section id="contact" class="four">
    <div class="container">
        <header>
            <h2>Eliminar Mensaje</h2>
        </header>
    </div>
</section>
{% endblock%}

{% block contenido %}
<section id="contact" class="four">
    <div class="container">
        <form method="POST">
            {%csrf_token%}
        
            <div class="callout callout-danger fade in">
                <h5>Eliminar Comentario</h5>
                <p>¿Estas Seguro que deseas <strong>Eliminar</strong> el comentario seleccionado?. </p>
            </div>
        
            <button type="Submit" class="btn btn-danger"> Si </button>
            <a href= "{%url 'Comentarios' %}" class="btn btn-primary">Cancelar</a>
        </form>
    </div>
</section>
{% endblock %}