<!--Importamos la plantilla a utilizar-->
{% extends "contenido/plantilla.html" %}

<!--Bloque de titulo-->
{%block titulo %}
    Home 
{% endblock %}

{% block cabeza%}
    <section id="contact" class="four">
        <div class="container">
            <header> <h2> Bienvenido a nuestro proyecto !!!</h2> </header>
            <p> Este curso servira para la creacion de un proyecto de Django con el fin de conocer mejor esta tecnologia</p> 
        </div>
    </section>
{% endblock%}

<!--Contenido-->
{% block contenido %}
    <section id="contact" class="four">
        <div class="container">
            <p> Tabla de contenido</p>
        
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Creador</th>
                        <th>Requisitos</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Fecha de creacion</th>
                    </tr>
                </thead>

                <tbody>
                    {% for curso in cursos %}
                    <tr>
                        <td class="text-center"><img src="{{curso.imagen.url}}" width="100px" height="50px"></td>
                        <td class="text-semibold">{{curso.nombre}}</td>
                        <td>{{curso.creador}}</td>
                        <td>{{curso.requisitos}}</td>
                        <td>{{curso.descripcion}}</td>
                        <td>${{curso.precio}}</td>
                        <td>{{curso.creacion}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
    </section>
{% endblock %}