<!--Importamos la plantilla a utilizar-->
{% extends "contenido/plantilla.html" %}


{%block titulo %}
    Contacto
{% endblock %}

{% block cabeza%}
<section id="contact" class="four">
    <div class="container">
        <header>
            <h2>Contacto</h2>
        </header>
    </div>
</section>
{% endblock%}

{% block contenido %}
    <section id="contact" class="four">
        <div class="container">

            <form method="post" action="#">
                <div class="row">
                    <div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Nombre" /></div>
                    <div class="col-6 col-12-mobile"><input type="text" name="email" placeholder="Correo Electronico" /></div>
                    <div class="col-6 align-self-center"> 
                        <select name="curso">
                            <option> ------------------Elije un curso------------------</option>
                            <option> Base de datos </option>
                            <option> Programacion </option>
                            <option> Animacion digital </option>
                            <option> Seguridad web </option>
                            <option> Hacking Etico </option>
                        </select>
                    </div>

                    <div class="col-12">
                        <textarea name="message" placeholder="Comentario"></textarea>
                    </div>
                    <div class="col-12">
                        <input type="submit" value="Compartir Mensaje" />
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}