<!--Importamos la plantilla a utilizar-->
{% extends "contenido/plantilla.html" %}


{%block titulo %}
    Cursos
{% endblock %}

{% block cabeza%}
<section id="contact" class="four">
    <div class="container">
        <h2> Nuestros cursos disponibles!!!! </h2><hr><br>
    </div>
</section>
{% endblock %}


{% block contenido %}
    <section id="contact" class="four">
        <div class="container">
            <div class="row">
                <div class="col-4 col-12-mobile">
                    <article class="item">
                        <header>
                            <h3>Base de datos</h3>
                        </header>
                    </article>
                    <article class="item">
                        <header>
                            <h3>Programacion</h3>
                        </header>
                    </article>
                </div>
                <div class="col-4 col-12-mobile">
                    <article class="item">
                        <header>
                            <h3>Redes</h3>
                        </header>
                    </article>
                    <article class="item">
                        <header>
                            <h3>Animacion Digital</h3>
                        </header>
                    </article>
                </div>
                <div class="col-4 col-12-mobile">
                    <article class="item">
                        <header>
                            <h3>Seguridad Web</h3>
                        </header>
                    </article>
                    <article class="item">
                        <header>
                            <h3>Hacking Etico</h3>
                        </header>
                    </article>
                </div>
            </div>
        </div>
    </section>
{% endblock %}