<!--Importamos la plantilla a utilizar-->
{% extends "contenido/plantilla.html" %}

<!--Bloque de titulo-->
{%block titulo %}
    Home 
{% endblock %}

{% block cabeza%}
    <section id="contact" class="four">
        <div class="container">
            <header> <h2> Bienvenido a nuestro proyecto !!!</h2> </header> 
        </div>
    </section>
{% endblock%}

<!--Contenido-->
{% block contenido %}
    <section id="contact" class="four">
        <div class="container">
            <p> Este curso servira para la creacion de un proyecto de Django con el fin de conocer mejor esta tecnologia</p>
        </div>
    </section>
{% endblock %}